<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/MM1" version="1.0.0" viewmodes="maximized">
    <tizen:application id="4e9IreXbG8.MM1" package="4e9IreXbG8" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>MM1</name>
    <tizen:profile name="mobile"/>
</widget>
